@import "https://arg0.dev/normalize/normalize.css";

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

body img {
    pointer-events: none;
}

.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none;
    outline: none;
}

.m1, .m2, .m3 {
    width: 28px;
    height: 2px;
    background-color: #818181;
    margin: 7px 0;
    transition: ease 0.3s;
}

.flipper .m1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    transition: ease 0.3s;
    background-color: #FBBB12;
}

.navbar-light .navbar-nav .nav-link {
    transition: ease 1s;
}

.flipper .m2 {
    opacity: 0;
    transition: ease 0.3s;
}

.flipper .m3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-6px, -5px);
    transition: ease 0.3s;
    background-color: #FBBB12;
}

.dx-nav {
    background: transparent;
    transition: ease-in 0.2s;
    border-bottom: 1px solid transparent;
}

.dx-nav-active {
    background: #fff !important;
    border-bottom: 1px solid #FBBB12;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    transition: ease-in 0.2s;
}

#rw-f {
    color: #fff;
}

#l-divider {
    font-size: 25px;
    position: absolute;
    margin-left: -15px;
    margin-top: -6.5px;
    color: #d8d8d8;
    font-weight: 300;
}

#l-changer {
    margin-left: 0.85em;
}

.report::after {
    color: #fff !important;
    background: #FF4848;
    height: 25px;
    width: 45px;
    margin-right: 5.2em;
    margin-top: 0.70em;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    position: absolute;
    z-index: -1;
    transition: 0.3s ease-in;
}

.report:hover::after {
    width: 86px;
}

.report:hover {
    color: #fff !important;
    transition: 0.3s ease-in;
}

.report-en::after {
    color: #fff !important;
    background: #FF4848;
    height: 25px;
    width: 58px;
    margin-right: 5.2em;
    margin-top: 0.70em;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    position: absolute;
    z-index: -1;
    transition: 0.3s ease-in;
}

.report-en:hover::after {
    width: 92px;
}

.report-en:hover {
    color: #fff !important;
    transition: 0.3s ease-in;
}

header {
    height: 100vh;
    min-height: 500px !important;
    background: #f9fafc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin-bottom: 8em;
}

header::after {
    background: inherit;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

header:after {
    bottom: 0;
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
}

header h1 {
    color: #818181;
    font-size: 52px;
    font-weight: 600;
}

header hr {
    border: solid 0.15em #FBBB12;
    width: 75px;
    background-color: #FBBB12;
}

header p {
    font-weight: 300;
    color: #818181;
}

header button {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    outline: none;
}

.btn:focus {
    box-shadow: none;
  }

header .btn-odx {
    color: #fff;
    background: #FBBB12;
    border: none;
    border-radius: 0;
    height: 51px;
    width: 192px;
    font-weight: 600;
    outline: none;
    -webkit-box-shadow: 0px 0px 60px 0px rgba(251,187,18,1);
    -moz-box-shadow: 0px 0px 60px 0px rgba(251,187,18,1);
    box-shadow: 0px 0px 60px 0px rgba(251,187,18,1);
}

header .btn-odx::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    color: #fff;
    margin-left: 5px;
}

header .btn-odx:hover {
    background: #ffd04e;
    -webkit-box-shadow: 0px 0px 60px 0px rgba(255,208,78,1);
    -moz-box-shadow: 0px 0px 60px 0px rgba(255,208,78,1);
    box-shadow: 0px 0px 60px 0px rgba(255,208,78,1);
    color: #fff;
}

header .btn-odx:focus {
    background: #FBBB12;
    outline: none;
}

header #rotate  {
    transform: rotate(90deg);
    position: absolute;
    right: -4.5em;
    top: 20em;
}

header #rotate p {
    font-weight: 500;
    color: #C7C7C7;
}

header #rotate i {
    font-size: 2em;
    position: absolute;
    bottom: 0.20em;
    right: -1.5em;
    color: #FBBB12 ;
}

header .dx-hr {
    border: 3px solid #FBBB12;
    border-radius: 1em;
    width: 15px;
    position: absolute;
    left: 0;
    bottom: -1em;
}

section {
    position: relative;
}

section div.title h4 {
    font-weight: 200;
    color: #818181;
}

section div.title hr {
    border: solid 0.25em #97FFC8;
    width: 75px;
    background-color: #97FFC8;
}

section div.orange hr {
    background-color: #FBBB12;
    border: solid 0.25em #FBBB12;
}

section div.content img {
    background-color: #97FFC8 ;
    border: 4px solid hsla(43, 100%, 95%, 0.388);
    border-radius: 3em;
    width: 80px;
    height: 80px;
    padding: 0.50em;
}

section div.content div.plug {
    border: solid 1px hsla(0, 0%, 89%, 0.404);
    border-radius: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.btn-scrollTop {
    background: #FBBB12;
    height: 1em;
    width: 3em;
    border-radius: 0em;
    transition: ease 0.1s;
    margin-bottom: -1em;
    margin-top: -0.20;
}

.btn-scrollTop:hover {
    transition: ease 0.1s;
    height: 1.3em;
}

.btn-scrollTop i {
    margin-left: -0.66em;
    margin-top: -1.1em;
    position: absolute;
    font-size: 2em;
    transition: ease 0.2s;
}

.btn-scrollTop i:hover {
    margin-top: -1.25em;
    transition: ease 0.2s;
}


#scrollTop {
    position: fixed;
    z-index: 999;
    right: 10px;
    bottom: 20px;
    opacity: 0;
    transition: ease 0.5s;
}

.screen::after{
    background-color: #f0f0f094;
    position: absolute;
    padding: 10em;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.screen {
    padding-bottom: 5em ;
}

.screen img {
    border: solid 1.5px rgb(230, 230, 230);
    border-radius: 3em;
    padding: 0.10em;
}

.item {
    outline: none;
    box-shadow: none;
}

.dx_swp {
    background: #f0f0f094;
    padding-bottom: 15em;
}

#dx-mswp {
    display: none !important;
}

.btn-odx-orange {
    color: #FBBB12;
    background: transparent;
    border: solid 2px #FBBB12;
    border-radius: 0;
    height: 50px;
    width: 50px;
    font-weight: 600;
    outline: none;
    border-radius: 10em;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.btn-odx-orange:hover {
    background: #fbbb12;
    color: #fff !important;
}

div.dx-monocrome {
    background: rgba(0, 0, 0, 0.600);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

footer {
    position: relative;
    color: #fff;
}

footer::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
    filter: grayscale();
    background: url('../materials/dist/road.jpeg');
}

.ft-cont {
    padding-top: 3em;
}

footer h1 {
    font-weight: 700;
    font-size: 30px;
}

footer h2 {
    font-weight: 200;
}

footer p {
    font-weight: 300;
    text-decoration: none;
}

footer p span {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
}

footer div.dx-ftph {
    margin-top: -10em;
}

footer hr {
    border-width: thin;
    border-color: hsla(0, 0%, 100%, 0.250);
    z-index: 999;
    width: 100%;
}

footer .btn-odx-red {
    color: #fff;
    background: #FF4848;
    border: none;
    border-radius: 0;
    height: 51px;
    width: 192px;
    font-weight: 600;
    outline: none;
    -webkit-box-shadow: 0px 0px 60px 0px #FF4848;
    -moz-box-shadow: 0px 0px 60px 0px #FF4848;
    box-shadow: 0px 0px 60px 0px #FF4848;
}

footer .btn-odx-red:hover {
    color: #fff;
    box-shadow: none;
}

footer div.copyright{
    z-index: 1;
}

#dx-dswp {
    display: block !important;
}

.btn-switcher {
    outline: none;
    background: transparent;
    border: none !important;
    box-shadow: none;
    margin-top: -0.25em;
    padding: 0;
}

@media (max-width: 991px) {
 #dx-mswp {
     display: block !important;
 }

 #dx-dswp {
     display: none !important;
 }

 .report::after {
    display: none !important;
}

.report:hover { 
    color: #FF4848 !important;
}

.report-en::after {
    display: none !important;
}

.report-en:hover { 
    color: #FF4848 !important;
}

.report {
    color: #FF4848 !important;
}

.report-en {
    color: #ff4848 !important;
}

.en-prefix-report {
    color: #ff4848 !important; 
}


#rw-f {
    color: #FF4848 !important;
}

#l-changer {
    margin-left: 0;
}

#l-divider {
    display: none;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    border-bottom: 1px solid #82828212;
    text-align: center;
    padding-top: 1em; 
    transition: 1s ease;
}

.navbar-collapse { 
    padding-top: 1.5em;
}

}

@media (max-width: 768px) {

header #rotate {
    display: none;
}

header h1 {
    color: #818181;
    font-size: 37px;
    font-weight: 600;
}

header button {
    top: 100%;
}

}

@media only screen and (max-width: 320px) and (max-width: 568px) {
header h1 {
    color: #818181;
    font-size: 30px;
    font-weight: 600;
    }
    
}

@media (min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
header {
    min-height: 110vw !important;
    }
}

@media only screen and (width:37.5em) and (height:28.125em) { 
	header {
        min-height: 120vw !important;
    }
}

@media only screen and (min-width:48.0625em) and (min-height:0em) { 
    header {
        padding-top: 5em !important;
    }
}

